{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5 rounded bg-light" style="padding: 50px">
            <h2> Inscrivez vous en tant que professeur:</h2>
            <p>(Vous devrez ajouter vos dommaines de compétences ultérieurement.)</p>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail">Adresse mail</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Votre mail">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputLastName">Nom de famille</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Votre nom de famille">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputFirstName">Prénom</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Votre prénom">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPass">Mot de passe</label>
                        <input type="password" class="form-control" id="inputPass" placeholder="Votre mot de passe">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassConfirm">Confirmer mot de passe</label>
                        <input type="password" class="form-control" id="inputPassConfirm"
                               placeholder="Confirmer votre mot de passe">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputSexe">Sexe</label>
                        <select id="inputSexe" class="form-control">
                            <option selected>Homme</option>
                            <option>Femme</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCity">Ville</label>
                        <input type="text" class="form-control" id="inputCity" placeholder="Votre ville">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPhone">Téléphone</label>
                        <input type="text" class="form-control" id="inputPhone" placeholder="Votre numéro de téléphone">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputBd">Date de naissance</label>
                        <input type="date" class="form-control" id="inputBd" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddr">Adresse</label>
                        <input type="text" class="form-control" id="inputAddr" placeholder="Votre adresse de rendez-vous">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPrice">Prix de séance (€/h)</label>
                        <input type="text" class="form-control" id="inputPrice" placeholder="Votre prix pour un cours d'une heure" >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>
{% endblock %}
